/* Card Based Layout - Base styles */

body {
	background: #333;
}

.masthead {
    color: #f9f9f9;
    font-size: 2em;
    margin-top: 3em;
    text-align: center;
   
}

.site-title {
	color: white;
}

.card {
	background:  #f9f9f9;
	margin-bottom: 1.5em;
    border-radius: 15px;

}

.card a {
	color: #f9f9f9;
	text-decoration: none;
}

.card a:hover {
	box-shadow: 2px 2px 5px white;
}

.card-content {
	padding: 1em;
}

.card-content h2 {
    font-family: sans-serif;
    color:  #333;
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: bold;
}

.card-content p {
    font-family: inherit;
    color:  #333;
	font-size: 95%;
}

/* Flexbox stuff */

@media screen and (min-width: 40em) {
    .cards {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-top: -1em;
    }

    .card {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex: 0 1 calc(50% - .5em);
            -ms-flex: 0 1 calc(50% - .5em);
                flex: 0 1 calc(50% - .5em);
        margin-bottom: 1em;
    }
}

@media screen and (min-width: 60em) {
    .cards {
        margin-top: inherit;
    }
    
    .card {
        -webkit-flex: 0 1 calc(33% - 1em);
            -ms-flex: 0 1 calc(33% - 1em);
                flex: 0 1 calc(33% - 1em);
        margin-bottom: 2em;
    }
}